<html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>

<nav>
	<div>
		<a href='#' class="brand-logo right"> Brand </a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li> <a href="{% url 'home' %}">Home</a> </li>
			<li> <a href="{% url 'about' %}">About</a> </li>
			<li> <a href="{% url 'new_exp' %}">New Experiment</a> </li>
		</ul>
	</div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
