
{% extends 'navbar.html' %}

{% block content %}
	<h4 class="center"> Edit Information </h4>
	{% load material_form %}
	<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}		
			
		<div class="red-text center">{{ form.non_field_errors }}</div>
		<div class="red-text center">{{ form.source_errors }}</div>
		{{ form.source }}
		<div class="container section">		
			<div class="row">
				<div class="input-field col s12">		
					{{ form.title.errors }}
					{{ form.title }}				
					{{ form.title.label_tag }}
				</div>
			</div>
			<div class="responsive-table" style="overflow-x:scroll; height: 80%;">
				<h5 class="center"> Input file uploaded: </h5>
				{{ object.get_inputfile_text|safe }}
			</div>
			<div class="row">
				<div class="input-field col s12">		
					{{ form.comments.errors }}
					{{ form.comments }}				
					{{ form.comments.label_tag }}
				</div>
			</div>
			<div class="input-field col s12">						
				{{ form.algorithm_choice.errors }}
				{{ form.algorithm_choice }}	
				{{ form.algorithm_choice.label_tag }}			
			</div>			

			<div id="hiddev_super" style="display: none;">
				<div class="row">
				<div class="input-field col s12">
					{{ form.validation_split.errors }}
					{{ form.validation_split }}				
					{{ form.validation_split.label_tag }}				
				</div>		
				</div>	

				<div class="row">
				<div class="input-field col s12">
					{{ form.method_super.errors }}
					{{ form.method_super }}				
					<label for="id_method_super">Supervised learning problem type</label>				
				</div>		
				</div>	
				<div id="hiddev_class" style="display: none;">
					<div class="row">
					<div class="input-field col s12">
						{{ form.no_labels.errors }}
						{{ form.no_labels }}				
						<label for="id_no_labels">Number of classes</label>		
					</div>		
					</div>	

					<div class="row">
					<div class="input-field col s12">
						{{ form.is_class_ensemble.errors }}
						{{ form.is_class_ensemble }}				
						<label for="id_is_ensemble"> Want to run ensemble models? </label>
					</div>		
					</div>	

					<div id="hiddev_class_ensemble_yes" style="display: none;">
						<div class="row">
						<div class="input-field col s12">
							{{ form.method_class_ensemble.errors }}
							{{ form.method_class_ensemble }}				
							<label for="id_method_class_ensemble">Choose ensemble classification method</label>				
						</div>		
						</div>					
					</div>
					<div id="hiddev_class_ensemble_no" style="display: none;">
						<div class="row">
						<div class="input-field col s12">
							{{ form.method_class.errors }}
							{{ form.method_class }}				
							<label for="id_method_class">Choose Classification Algorithm</label>		
						</div>		
						</div>	
						<div class="row">
						<div class="input-field col s12">
							{{ form.is_hyper.errors }}
							{{ form.is_hyper }}				
							<label for="id_is_hyper"> Want to do hyperparameter tuning? </label>
						</div>		
						</div>	
					</div>
					<script type="text/javascript">
						showEnsembleClassDiv(document.getElementById('id_is_class_ensemble'));
					</script>
				</div>
				<div id="hiddev_reg" style="display: none;">
					<div class="row">
					<div class="input-field col s12">
						{{ form.is_reg_ensemble.errors }}
						{{ form.is_reg_ensemble }}				
						<label for="id_is_ensemble"> Want to run ensemble models? </label>
					</div>		
					</div>	

					<div id="hiddev_reg_ensemble_yes" style="display: none;">
						<div class="row">
						<div class="input-field col s12">
							{{ form.method_reg_ensemble.errors }}
							{{ form.method_reg_ensemble }}				
							<label for="id_method_reg_ensemble">Choose ensemble regression method</label>				
						</div>		
						</div>					
					</div>

					<div id="hiddev_reg_ensemble_no" style="display: none;">
						<div class="row">
						<div class="input-field col s12">
							{{ form.method_reg.errors }}
							{{ form.method_reg }}
							<label for="id_method_reg">Choose Regression Algorithm</label>
						</div>
						</div>

						<div class="row">
						<div class="input-field col s12">
							{{ form.is_hyper.errors }}
							{{ form.is_hyper }}				
							<label for="id_is_hyper"> Want to do hyperparameter tuning? </label>
						</div>		
						</div>	
					</div>
					<script type="text/javascript">
						showEnsembleRegDiv(document.getElementById('id_is_reg_ensemble'));
					</script>
				</div>
				<script type="text/javascript">
					showSuperDiv(document.getElementById('id_method_super'));			
				</script>
			</div>

			<div id="hiddev_target" style="display: none;" class="row">
			<div class="input-field col s12">
				{{ form.target.errors }}
				{{ form.target }}				
				<label for="id_target">Prediction variable name:</label>		
			</div>		
			</div>	
			<div id="hiddev_feature" style="display: none;">
				<div class="row">
					<div class="input-field col s12">
						{{ form.no_features.errors }}
						{{ form.no_features }}
						<label for="id_no_features"> Enter number of desired features </label>
					</div>
				</div>
			</div>
			<div id="hiddev_unsuper" style="display: none;">
				<div class="row">
				<div class="input-field col s12">
					{{ form.method_unsuper.errors }}
					{{ form.method_unsuper }}				
					<label for="id_method_super">Unsupervised learning problem type</label>				
				</div>		
				</div>
				<div id="hiddev_clust" style="display : none;">
					<div class="row">
					<div class="input-field col s12">
						{{ form.no_clusters.errors }}
						{{ form.no_clusters }}				
						<label for="id_no_clusters">Number of clusters</label>		
					</div>		
					</div>	
					<div class="row">
					<div class="input-field col s12">
						{{ form.method_clust.errors }}
						{{ form.method_clust }}				
						<label for="id_method_clust">Clustering method</label>		
					</div>		
					</div>										
				</div>
				<script type="text/javascript">
					showUnsuperDiv(document.getElementById('id_method_unsuper'));			
				</script>
			</div>
			<script type="text/javascript">
				showDiv(document.getElementById('id_algorithm_choice'));			
			</script>
			
		<div class="row">
			<button class="btn btn-default right green waves-effect waves-light" type="submit">Update</button>		
			<a href="{% url 'post_delete' post.pk %}" class="btn btn-default left green waves-effect waves-light"> Delete experiment </a>
		</div>

	</form>

{% endblock %}
