{% load staticfiles %}
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'readin/css/base.css' %}">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
	</script>
<script type="text/javascript" src="{% static 'readin/js/myjs.js' %}"></script>
<script>
	$(document).ready(function() {
	    $('select').material_select();
		});	
</script>
</head>
<body>

<nav>
	<div>
		<a href='#' class="brand-logo right"> Brand </a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li> <a href="{% url 'home' %}">Home</a> </li>
			<li> <a href="{% url 'about' %}">About</a> </li>
			<li> <a href="{% url 'new_exp' %}">New Experiment</a> </li>
		</ul>
	</div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>
